#sidebar::-webkit-scrollbar {
    display: none;
}
#sidebar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#sidebar-content::-webkit-scrollbar {
    display: none;
}
#sidebar-content {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
